
{{ $docTree := $.docTree }}
{{ $startLevel := $.startLevel }}
{{ $endLevel := $.endLevel }}

{{ $t := partial "tocLib/inline/flatTree" (dict
  "root" $docTree
  "pid" ""
  "nodes" (dict)
  "parentTree" (dict)
) }}
{{ $docNodes := $t.nodes }}
{{ $docParentTree := $t.parentTree }}
{{ $tocParentTree := partial "tocLib/inline/genTocParentTree" $t }}

{{ $tocTree := partial "tocLib/inline/flatDocNodes2Toctree" (dict
  "nodes" $docNodes
  "parentTree" $tocParentTree
  "id" $docTree.id
) }}

{{ if or (gt $startLevel 1) (lt $endLevel 6) }}
  {{ $tocTree = (partial "tocLib/inline/pruneTocTreeByHeadingLevel" (dict
    "tocTree" $tocTree
    "startLevel" $startLevel
    "endLevel" $endLevel
  )).tocTree }}
{{ end }}

{{ return $tocTree }}

{{/*  =========== inline ============  */}}

{{ define "partials/tocLib/inline/flatTree" }}
  {{ $root := .root }}
  {{ $id := $root.id }}
  {{ $pid := .pid }}
  {{ $nodes := .nodes }}
  {{ $parentTree := .parentTree }}

  {{ $nodes = merge $nodes (dict $id $root) }}
  {{ $parentTree = merge $parentTree (dict $id $pid) }}

  {{ range $_, $node := $root.children }}
    {{ $res := partial "tocLib/inline/flatTree" (dict
      "root" $node
      "pid" $id
      "nodes" $nodes
      "parentTree" $parentTree
    ) }}
    {{ $nodes = merge $nodes $res.nodes }}
    {{ $parentTree = merge $parentTree $res.parentTree }}
  {{ end }}

  {{ return (dict "nodes" $nodes "parentTree" $parentTree) }}
{{ end }}

{{ define "partials/tocLib/inline/genTocParentTree" }}
  {{ $docNodes := $.nodes }}
  {{ $docParentTree := $.parentTree }}
  {{ $tocParentTree := dict }}
  {{ range $docNodeId, $docNode := $docNodes }}
    {{ if not $docNode.headingLevel }}{{ continue }}{{ end }}
    {{ $docNodeParentID := index $docParentTree $docNode.id }}
    {{ $p := $docNode }}
    {{ range $_, $_ := $docNodes }}
      {{ $parent := index $docNodes (index $docParentTree $p.id) }}
      {{ $siblingIdx := partial "tocLib/inline/getPrevSiblingHeading" (dict
        "heading" $p
        "parent" $parent
      ) }}
      {{ if le $siblingIdx -1 }}
        {{ if eq $parent.type "root" }}
          {{ $tocParentTree = merge $tocParentTree (dict $docNodeId $parent.id) }}
          {{ break }}
        {{ end }}
        {{ $p = $parent }}
        {{ continue }}
      {{ end }}
      {{ $sibling := index $parent.children $siblingIdx }}
      {{ if (or
        (ne $parent.id $docNodeParentID)
        (lt $sibling.headingLevel $docNode.headingLevel)
      ) }}
        {{ $tocParentTree = merge $tocParentTree (dict $docNodeId $sibling.id) }}
        {{ break }}
      {{ end }}
      {{ $p = $sibling }}
    {{ end }}
  {{ end }}
  {{ return $tocParentTree }}
{{ end }}

{{ define "partials/tocLib/inline/pruneTocTreeByHeadingLevel" }}
  {{ $tocTree := .tocTree }}
  {{ $startLevel := .startLevel }}
  {{ $endLevel := .endLevel }}

  {{ $need2rm := and $tocTree.headingLevel (or
    (lt $tocTree.headingLevel $startLevel)
    (gt $tocTree.headingLevel $endLevel)
  ) }}

  {{ $children := (slice) }}
  {{ range $c := $tocTree.children }}
    {{ $res := partial "tocLib/inline/pruneTocTreeByHeadingLevel" (dict
      "tocTree" $c
      "startLevel" $startLevel
      "endLevel" $endLevel
    ) }}
    {{/*
      The append method will most likely form a nested array when the two collection types are inconsistent.
      https://github.com/gohugoio/hugo/blob/master/tpl/collections/append.go
      https://github.com/gohugoio/hugo/blob/master/common/collections/append.go
      When $res.tocTree.children([]map[string]any) is pushed into $children([]any), a nested array is formed because the two types are different.
    */}}
    {{/*  {{ $children = $children | append (cond $res.need2rm $res.tocTree.children $res.tocTree) }}  */}}
    {{ if $res.need2rm }}
      {{ range $c := $res.tocTree.children }}
        {{ $children = $children | append $c }}
      {{ end }}
    {{ else }}
      {{ $children = $children | append $res.tocTree }}
    {{ end }}
  {{ end }}
  {{ $tocTree = merge $tocTree (dict "children" $children) }}

  {{ return (dict "tocTree" $tocTree "need2rm" $need2rm) }}
{{ end }}

{{/*
  return the next sibling heading node index from docTree children field
*/}}
{{ define "partials/tocLib/inline/getPrevSiblingHeading" }}
  {{ $heading := .heading }}
  {{ $parent := .parent }}

  {{ $currentIdx := -1 }}
  {{ $len := len $parent.children }}
  {{ range $idx, $node := $parent.children }}
    {{ if eq $node.id $heading.id }}
      {{ $currentIdx = $idx }}
      {{ break }}
    {{ end }}
  {{ end }}

  {{ $prevSiblingIdx := add $currentIdx -1 }}
  {{ range $_, $_ := $parent.children }}
    {{ if le $prevSiblingIdx -1 }}{{ break }}{{ end }}
    {{ $node := index $parent.children $prevSiblingIdx }}
    {{ if $node.headingLevel }}{{ break }}{{ end }}
    {{ $prevSiblingIdx = add $prevSiblingIdx -1 }}
  {{ end }}

  {{ return $prevSiblingIdx }}
{{ end }}

{{ define "partials/tocLib/inline/flatDocNodes2Toctree" }}
  {{ $docNodes := .nodes }}
  {{ $tocParentTree := .parentTree }}
  {{ $currentId := .id }}

  {{ $docNode := index $docNodes $currentId }}
  {{ $root := (dict
    "start" $docNode.start
    "end" $docNode.end
  ) }}
  {{ if ne $docNode.type "root" }}
    {{ $root = merge $root (dict
      "tagInfo" $docNode.tagInfo
      "headingLevel" $docNode.headingLevel
      "innerHTML" $docNode.innerHTML
    ) }}
  {{ else }}
    {{ $root = merge $root (dict "headingLevel" false) }}
  {{ end }}

  {{ $children := (slice) }}
  {{ range $id, $pid := $tocParentTree }}
    {{ if ne $pid $currentId }}{{ continue }}{{ end }}
    {{ $res := partial "tocLib/inline/flatDocNodes2Toctree" (dict
      "nodes" $docNodes
      "parentTree" $tocParentTree
      "id" $id
    ) }}
    {{ $children = $children | append $res }}
  {{ end }}
  {{ $children = sort $children "start" }}
  {{ $root = merge $root (dict "children" $children) }}

  {{ return $root }}
{{ end }}
