
{{- return (partial "tocLib/inline/rmNodeUnrelated2Toc" .).tree -}}

{{ define "partials/tocLib/inline/rmNodeUnrelated2Toc" }}
  {{ $root := . }}

  {{ $need2rm := true }}
  {{ $tree := $root }}

  {{ if $root.headingLevel }}
    {{ $need2rm = false }}
  {{ else if eq $root.type "root" "tag" }}
    {{ $children := slice }}
    {{ range $_, $node := $root.children }}
      {{ $res := partial "tocLib/inline/rmNodeUnrelated2Toc" $node }}
      {{ if not $res.need2rm }}
        {{ $children = $children | append $res.tree }}
      {{ end }}
    {{ end }}
    {{ $root = merge $root (dict "children" $children) }}
    {{ if eq $root.type "tag" }}
      {{ $need2rm = eq (len $children) 0 }}
    {{ end }}
  {{ end }}

  {{ return (dict "tree" $root "need2rm" $need2rm) }}
{{ end }}
