
{{- return (partial "tocLib/inline/rmNodeUnrelated2Toc" .).tree -}}

{{ define "partials/tocLib/inline/rmNodeUnrelated2Toc" }}
  {{ $root := . }}
  {{ $ans := dict "tree" $root "need2rm" true }}
  {{ if $root.headingLevel }}
    {{ $ans = merge $ans (dict "need2rm" false) }}
  {{ else if eq $root.type "root" "tag" }}
    {{ $children := slice }}
    {{ range $_, $node := $root.children }}
      {{ $res := partial "tocLib/inline/rmNodeUnrelated2Toc" $node }}
      {{ if not $res.need2rm }}
        {{ $children = $children | append $res.tree }}
      {{ end }}
    {{ end }}
    {{ $ans = merge $ans (dict
      "tree" (merge $root (dict "children" $children))
    ) }}
    {{ if eq $root.type "tag" }}
      {{ $ans = merge $ans (dict "need2rm" (eq (len $children) 0)) }}
    {{ end }}
  {{ end }}
  {{ return $ans }}
{{ end }}
